body {
    background: #121212
}

.App {
    font-family: Arial,Helvetica,sans-serif;
    width: 750px;
    background: #1e1e1e;
    margin: auto;
    color: white;
    padding: 10px 0;
    border: solid 1px;
    border-radius: 4px;
    border-color: #2f2d2d;
    
    a {
        color: white;
        font-size: 10px;
        margin-left: 5px;
    }
}
