main {
    margin: 35px 0;
    display: flex;
    padding: 5px;

    &:last-child {
        line-height: 25px;
    }
}

section {
    display: inline-block;
    margin-right: 0.5em;

    article {
        @extend %border;
        width: 480px;
        color: $grey;
        padding: 2px 10px;
        background: #0b0b0b;

        p {
            color: $grey;
            font-size: $font-size;
        }

        .user {
            color: #E28525;
            font-weight: $font-weight;
        }

        .votes {
            @extend %float_right;
        }

        .plusSpan {
            @extend %float_right;
            cursor: $cursor;

            img {
                width: $thumbs_width;
            }
        }

        .minusSpan {
            @extend %float_right;
            cursor: $cursor;

            img {
                width: $thumbs_width;
            }
        }

        button { //remove button
            display: block;
            color: #b40000;
            background: none;
            border: none;
            font-weight: $font-weight;
            margin-left: 88%;
            cursor: $cursor;
            &:hover {
                color: #fe0000;
            }
        }
    }
}
