.App_container {
    background: #000;
    width: 630px;
    margin: auto;
    padding: 13px;
    border: solid 1px;
    border-radius: 4px;
    border-color: #2f2d2d;

    form {
        h2 {
            font-size: 16px;
            color: white;
        }

        label {
            display: block;
            margin-bottom: 10px;

            &:last-child {
                display: flex;
                justify-content: flex-end;
            }

            textarea {
                width: 100%;
                background: #000000;
                color: #cccccc;
                padding: 5px;
                border: solid 1px;
                border-color: #7f7a7a;

            }

            input {
                background: #000000;
                color: #cccccc;
                border: solid 1px;
                border-color: #7f7a7a;
                padding: 5px;
            }

        }
    }
}
