.App_container {
    background: #000;
    width: 630px;
    margin: auto;
    padding: 13px;
    @extend %border;
}

form {
    h2 {
        font-size: 16px;
        color: white;
    }

    label {
        display: block;
        margin-bottom: 10px;

        &:last-child {
            display: flex;
            justify-content: flex-end;
        }

        textarea {
            width: 100%;
            @extend %form-style;
            font-size: $font-size;
        }

        input { //submit input
            &[type="text"] {
                @extend %form-style;
                cursor: $cursor;
                font-size: $font-size;
            }

            &[type="button"]{
                border: 0;
                border-radius: 4px;
                outline: none;
                background: $grey;
                color: #24282a;
                cursor: pointer;
            }
        }
    }
}
